@import "~bpk-mixins";

.flight {
  display: flex;
  justify-content: space-between;
  margin-bottom: $bpk-spacing-md;

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-airport-code {
    margin: 0;
    color: $bpk-color-gray-500;
  }

  &-icon {
    fill: $bpk-color-gray-500;
    align-self: center;
    margin: $bpk-spacing-sm;
  }

  &-duration {
    font-size: $bpk-font-size-sm;
    text-align: right;
    color: $bpk-color-gray-500;
  }

  &-direct {
    color: $bpk-color-green-500;
  }

  &-img {
    width: 24px;
    height: 24px;
    margin-right: $bpk-spacing-sm;
    margin-bottom: $bpk-spacing-sm;
    border-radius: 3px;
  }
}
