@import "~bpk-stylesheets/index";

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: $bpk-color-gray-50;
}

.App {
  display: flex;
  flex-direction: column;
}

.color-dark-gray {
  color: $bpk-color-gray-900;
}

.line-height-1 {
  line-height: $bpk-line-height-sm;
}
