@import "~bpk-mixins";

.itinerary {
  margin: $bpk-spacing-sm;
  cursor: default;
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-price {
    font-size: $bpk-font-size-xl;
  }
  &-agent {
    color: $bpk-color-gray-500;
  }
}
