@import "~bpk-mixins";

.controls {
  padding: $bpk-spacing-sm;
  color: $bpk-color-blue-500;
  background: $bpk-color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-button,
  &-price {
    cursor: pointer;
  }
  &-button + &-button {
    margin-left: $bpk-spacing-xl;
  }

  &-price {
    display: flex;
    align-items: center;
  }

  &-icon {
    fill: $bpk-color-blue-500;
  }
}