@import "~bpk-mixins";

.header {
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;
  padding: $bpk-spacing-md $bpk-spacing-sm;
}

.airports {
  margin-bottom: $bpk-spacing-sm;
  font-size: $bpk-h-1-font-size;
}

.arrow {
  fill: $bpk-color-white;
  margin: 0 $bpk-spacing-xs;
}